/*Loading Style ------------------------------------------*/
.loading-background{
  display: none;
  background: rgba(25,25,25,0);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1200;
  position: absolute;
}

.loading-animation{
  position: fixed;
  top:15%;
  left: 45%;
}
.spinner {
  margin: 100px auto;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #96C351;
  height: 100%;
  width: 10px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*Notification bar style*/
.notification-panel{
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1250;
}
.notification-panel .alert{
  min-width: 30em;
  border-radius: 0px;
}
.notification-panel .alert{
  background: white !important;
  font-size: 16px;
}
.notification-panel .alert-success{
  color: green !important;
}
.notification-panel .alert-danger{
  color: red !important;
}
.notification-panel .alert-info{
  color: blue !important;
}
.notification-panel .alert-warning{
  color: #c37a05 !important;
}
.notification-panel .alert-primary{
  color: darkblue !important;
}
.alert button{
  margin-left: 5px;
}

/*Sidebar,Header*/
.user-panel{
    height: 60px;
}
.user-panel .info{
    padding: 0px;
    position: static !important;
}
.user-header .img-circle{
    border-width: 0px !important;
}
.clr{
    clear: both;   
    margin:10px;
}
